[Unit]
Description="Milton Bot Process"
Documentation=http://www.github.com/scallywag41/

[Service]
ExecStart=cd /opt/milton
ExecStart=/bin/bash -c "/opt/milton/milton.bash > /var/log/bots/milton.log 2>&1"
Restart=on-failure
RestartSec=10
Type=simple
PIDFile=/var/tmp/milton.pid

[Install]
WantedBy=multi-user.target

